/* You can add global styles to this file, and also import other style files */
@import "assets/fontawesome/css/all.css";
@import "./assets/fonts/lexend-deca.css";
@import "primeng/resources/themes/lara-light-amber/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #f59e0b;
  --primary-lighter: #fff1d5;
  --black: #414141;
  --white: #FFFFFF;
}

html {
  font-size: 14px;
}

body {
  padding: 0;
  margin: 0;
}

* {
  font-family: "Lexend Deca", sans-serif;
}

p {
  margin: 0;
}

a {
  text-decoration: none;

  &:active {
    color: unset
  }
}

label {
  color: var(--black)
}

.e-card-content {
  background-color: white;
  margin-top: 20px;
  border-radius: 8px;
  padding-bottom: 8px;

  .e-card-header {
    color: var(--black);
    font-size: 20px;
    font-weight: bold;
    padding: 35px 40px 10px;
  }

  .e-card-subheader {
    color: var(--black);
    font-size: 17px;
    font-weight: 600;
  }

  .e-card-body {
    padding: 32px 40px;
  }
}
