<div class="flex flex-wrap gap-3 mt-10">
  <div class="{{ !selectedCategoryId ? 'bg-primary' : 'bg-[#dadada]' }} font-medium px-4 py-2 rounded cursor-pointer transition duration-100"
       (click)="selectCategory(undefined)">
    Tất cả ({{ (totalRecords$ | async)! }})
  </div>
  @for (category of (categories$ | async)!; track category) {
    <div class="{{ selectedCategoryId === category.id ? 'bg-primary' : 'bg-[#dadada]' }} font-medium px-4 py-2 rounded cursor-pointer transition duration-100"
         (click)="selectCategory(category.id)">
      {{category.name}} ({{category.itemCount}})
    </div>
  }
</div>
